.tesagon-logo {
    width:15vh;
}

.menu {
    display: flex;
    margin-top: 2.5vh;
    align-items: center;
    justify-content: center;
    width: 60vw;
    margin-left: 20vw;
}

.menu-list {
    display: flex;
    margin-left: auto;
}

.menu-item {
    font-size: 2vh;
    padding-left: 25px;
    font-weight: 600;
    color: #cfcfcf;
    text-decoration: none;
}

.menu-selected {
    text-decoration: underline;
    color:#999999
}

.menu-item:hover {
    color:#aaaaaa
}

@media screen and (max-width: 600px) {
    .tesagon-logo {
        width:12vh;
    }
    .menu-item {
        font-size: 2.5vh;
    }
}

@media screen and (max-width: 500px) {
    .menu {
        align-items: center;
        justify-content: center;
        display: block;
        margin-left: 6vw;
    }
    .tesagon-logo {
        margin-left: 30vw;
        width:12vh;
    }
    .menu-item {
        font-size: 2vh;
    }
    .menu-list {
        display: block;
        margin-left: auto;
    }
}